**/*_test.go

build/_workspace
build/_bin
build
android
zk
.git
docs
tests
.github
internal/gui
cmd/gtkm
cmd/evm
cmd/clef
cmd/devp2p
cmd/abigen
cmd/bootnode
cmd/evm
cmd/faucet
cmd/geth
cmd/p2psim
cmd/rlpdump
cmd/wnode
cmd/devp2p
*.apk
*.aar
*.a
*.so
*.tar
*.tar.gz
*.zip
*.rlp.gz
tests/testdata
